/bin
/build
/libs
/lib
/.project
/.classpath
/.gradle
/.settings
*.launch
/run
/runs
/src/generated/resources/.cache/*
/.idea
/logs
/out
*.iml
*.ipr
*.iws
.factorypath
/.apt_generated/
/.apt_generated_tests/
